.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.73rem;
  width: 100%;
  color: var(--color-pure-white);
  padding: 0.94rem 1rem;
  border: 0;
  background-color: var(--color-deep-aquamarine);
  border-radius: 0.5rem;
  transition-property: background-color;
  transition-duration: 150ms;
  cursor: pointer;
}

@media screen and (hover: hover) {
  .button:hover {
    background-color: var(--color-dark-deep-aquamarine);
  }
}